*
{
    margin:0;
    padding:0;
}
body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/031/586/449/large_2x/time-clock-hand-on-a-futuristic-digital-style-clock-face-ai-generated-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#time
{
    font-size: 60px;
}